/* CONTAINER */

.app-container
{
  font-family: 'Montserrat', sans-serif;

  background:	#c67262;

  height: 100vh;
}




.app-title-wrapper
{
  padding-top: 40vh;
  
}

.app-title-container
{
  max-width: 1400px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  color: white;
}






/* TITLE */

.app-title
{
  font-size: 4rem;
  font-weight: 600;

  letter-spacing: .3rem;
}

.app-provider
{
  font-size: 3.5rem;
  letter-spacing: .3rem;
}

.app-info
{
  font-size: 1.5rem;
  letter-spacing: .3rem;
}

.app-comingsoon
{
  text-transform: uppercase;
}



@media only screen and (max-width: 768px)
{
  .app-title
  {
    font-size: 2.5rem;
  }

  .app-provider
  {
    font-size: 1.8rem;
  }


}